.icono {
    width: 3vw;
    margin-right: 2vw;
}

.icono:hover {
    cursor: pointer;
    -webkit-animation: rotar 0.9s infinite;
    animation: rotar 0.9s infinite;
}

@keyframes rotar {
    0% {
        transform: rotateZ(-5deg);
    }
    50% {
        transform: scale(1.2) rotateZ(0deg);
    }
    100% {
        transform: rotateZ(5deg);
    }
}

@-webkit-keyframes rotar {
    0% {
        transform: rotateZ(-5deg);
    }
    50% {
        transform: scale(1.2) rotateZ(0deg);
    }
    100% {
        transform: rotateZ(5deg);
    }
}
